.me-img {
    height: 500px;
    width: 350px;
    position: absolute;
    top: 125px;
    left: 450px;
    border-radius: 15px;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-style: italic;
}

.about-me {
    position: fixed;
    padding-right: 15%;
    left: 1000px;
    top: 250px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 100px;
}

.icon1 {
    color: #fea3aa;
}

.icon2 {
    color: #f8b88b;
}

.icon3 {
    color: #faf884;
}

.icon4 {
    color: #baed91;
}

.icon5 {
    color: #b2cefe;
}
